@font-face {
    font-family: 'Phantom Sans';
    src: url('../fonts/PhantomSans/Regular.woff') format('woff'),
        url('../fonts/PhantomSans/Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('../fonts/PhantomSans/Italic.woff') format('woff'),
        url('../fonts/PhantomSans/Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('../fonts/PhantomSans/Bold.woff') format('woff'),
        url('../fonts/PhantomSans/Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

.page-nav {
    margin-top: 1.75rem;
}

.page-nav>ul {
    list-style: none;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.page-nav li {
    margin: 1rem;
    font-family: 'Phantom Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.star-image {
    width: 10%;
}

.page-nav li:last-child {
    margin-right: none;
}

.page-nav li:first-child {
    margin-left: none;
}

.body-wrapper {
    width: 100%;
}

#about>svg {
    display: block;
}

#about>#event-logo {
    max-width: 60ch;
}

#about>#clouds {
    width: 100%;
}

.column {
    flex-direction: column;
}

.is-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

@media screen and (max-aspect-ratio: 4/3) {
    .page-nav li {
        margin: 0.5rem;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .page-nav li {
        font-size: 1rem;
        margin: 0.25rem;
    }
}

.content-pane-heading {
    margin-left: 8%;
    font-family: "Chakra Petch", sans-serif;
    font-size: 4.25rem;
    font-weight: bold;
    margin-right: auto;
}

.content-pane {
    width: 100%;
}

h2 {
    margin: 0;
    color: #FFFFFF;
    font-family: "Chakra Petch", sans-serif;
    font-size: 3rem;
}

.about-content {
    width: 55%;
}

.AboutP {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 2rem;
}

.AboutButton {
    background-color: transparent;
    color: white;

    border: 2px solid #ff731d;
    border-radius: 1rem;
    height: 4rem;
    width: 14rem;

    font-family: 'Phantom Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 2rem;

}

.AboutImage {
    position: relative;
    float: right;
    padding-bottom: 3%;
    margin: 0;
}

/* styling for guidelines */

.guideline-container {
    width: 80%;
    margin: 0 4% 2% 4%;
    text-align: justify;
}

.Guidelines-item {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    padding-left: 1em;
    margin-left: 4.5rem;
    font-size: 2em;
    line-height: 1.5;
}

/* styling for rounds and rules  */

.roundsrules-container {
    width: 70%;
    padding: 0 0 5rem 5rem;
    font-family: 'Phantom Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: 2em;
    line-height: 1.5;
    margin-left: 4%;
}

.roundsrules-item {
    padding-left: 1rem;
}

#event-banner {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
}

#payment-code-600,
#payment-code-800 {
    object-fit: contain;
    object-position: center;
    max-width: 48%;
}

#registration-form>fieldset {
    margin: 0.5rem;
    min-width: 30%;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
}

section:not(#about):not(.register-now) {
    padding-left: 3rem;
    padding-top: 3rem;
    width: calc(100% - 3rem);
}

@media screen and (max-aspect-ratio: 1/1) {
    #event-logo {
        width: 10rem;
    }

    .about-content {
        width: auto;
    }

    .form-group {
        flex-direction: column;
    }

    #event-details-filler {
        display: none;
    }


    .Guidelines-item {
        padding: auto;
        margin: auto;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .AboutP {
        font-size: 1.4rem;
    }


    .roundsrules-item {
        padding-left: auto;
    }

    .roundsrules-container {
        width: auto;
        padding: 0;
        font-size: 1.4rem;
    }

    section:not(#about):not(.register-now) {
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        width: calc(100% - 1rem);
    }

    #payment-code-600,
    #payment-code-800 {
        max-width: 100%;
    }

    #registration-form>fieldset {
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-block-start: 0rem;
        padding-inline-start: 0rem;
        padding-inline-end: 0.5rem;
        padding-block-end: 0.5rem;
    }
}