.list-that-is-not-ugly {
    list-style: none;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.event-details-content {
    gap: 13vw;
    margin: 0 6vw;
    padding: 2% 0 0 0;
}

.event-details-list {
    gap: 1rem;
}

.event-details-list-item {
    font-family: 'Phantom Sans';
    font-size: ;
}